<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Person Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Person Details Form</h1>
	<form action="#" th:action="@{/AddPerson}" th:object="${person}"
		method="post">
		<p>
			Enter First Name : <input type="text" th:field="*{firstName}"></input><br></br>
			Enter Last Name : <input type="text" th:field="*{lastName}"></input><br></br>
			Enter Age : <input type="text" th:field="*{age}"></input><br> </br>
			<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
		</p>
	</form>
</body>
</html>
